.filter-card {
  background: white;

  padding: 25px;

  border-radius: 18px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.filter-card h2 {
  color: #1976d2;

  margin-bottom: 25px;
}

.filter-card label {
  display: block;

  margin-top: 18px;

  margin-bottom: 8px;

  font-weight: 600;
}

.filter-card input,
.filter-card select {
  width: 100%;

  padding: 12px;

  border-radius: 8px;

  border: 1px solid #ddd;
}

.filter-card button {
  width: 100%;

  margin-top: 30px;

  padding: 14px;

  background: #1976d2;

  color: white;

  border: none;

  border-radius: 10px;

  cursor: pointer;
}
.price-value {
  font-size: 18px;
  font-weight: 600;
  color: #1f5fbf;
  margin-bottom: 10px;
}

input[type="range"] {
  width: 100%;
  cursor: pointer;
  accent-color: #1f5fbf;
}
